@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: 'yangjin';
  src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
}
/* Layout CSS */

* {
  font-family: "Noto Sans KR"
}

Header.my-header{
    background: #fff;
}
.site-layout-content {
  background: #fff;
  height:900px;
}
.ant-layout-content {
  background: #fff;
}

/* Intro CSS */
.intro-title-img{
  width: 100%;
}
h1.intro-title-main{
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: yangjin;
  color:#FF9933;
  font-size: 4.3rem;
  line-height: 4.5rem;
}
h1.intro-title-main span{
  color:#FCE9DC;
  font-family: yangjin;
}
h5.intro-title-sub{
  margin-bottom: 0px;
  margin-top: 0px !important;
  font-family: yangjin;
  color: #FF9933;
  font-size: 2.6rem;
}
.intro-cards-wrapper{
  margin-top: 50px;
}
.intro-card{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  padding: 10px;
}
.intro-search-wrapper{
  margin-top:60px;
}
.intro-search-wrapper input.ant-input{
  font-size: 1.5rem !important;
}


/* NavigationBar CSS */
.nav-logo {
  float: left;
  background: #fff;
}
/* 수평 정렬 (center) */
.nav-btn-wrapper{ 
  display: flex;
  float: right;
  height: 100%;
  align-items: center;
}
.nav-btn {
  margin: 0 5px;
}


/* login form CSS */
#normal_login {
  margin: 0 auto;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.login-link-wrapper{
  text-align: center;
}
.login-title {
  text-align: center;
}


/* register CSS */
form.register-form{
  margin-right: 20%;
}
.register-form-btn{
  margin-top: 100px;
  width:100%;
  height: 50px;
}


/* grouping CSS */
.grouping-header-img-wrapper{
  position: relative;
  width: 100%;
  height: 17em;      /*반응형 높이 필요*/
  overflow: hidden;
}
.grouping-header-img{
  filter: brightness(0.6) blur(10px);
  position: absolute; 
  width: 100%;
  height: 100%; 
  object-fit: cover;
  object-position: center;
}
.grouping-header-title-wrapper{
  position: absolute; 
  width: 100%;
  height: 100%; 

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grouping-header-type{
  color: #3399FF;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: large;
}
.grouping-header-title{
  padding: 10px;
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 3em;

}
.grouping-page-wrapper{
  margin: 3% 10%;
}
.grouping-page-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.grouping-page-descr-wrapper{
  width: 100%;
  margin: 5% 0;
  background-color: #c9e5ff;
  color: #1890ff;
  padding: 15px;
  border-radius: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
}
.grouping-page-descr-th{
  width: 80px;
  /* flex-basis: 10%; */
  /* flex-shrink: 0; */
}
.grouping-page-descr-td{
  flex-basis: 80%;
  flex-grow: 1;
  word-break: break-all;
  word-wrap: break-word;
}
.grouping-page-progress-text{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2rem;
}
.grouping-page-progress-date{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2rem;
}
.grouping-page-progress-info{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2rem;
}
.grouping-page-progress-text>span{
  font-size: 3rem;
  font-weight: 500;
}

/* crop image into square */
.crop-container {
  position: relative;
  width: 100%; 
}
.crop-container::after {
  content: "";
  display: block;
  padding-bottom: 70%; 
} 
.crop-container img {
  position: absolute;  
  width: 100%;
  height: 100%; 
  object-fit: cover;
  object-position: center;
}

.manage-title+p {
  font-family:Noto Sans KR;
  font-size:3rem;
  font-weight: 500;
  text-align:center;
}
.manage-title+div {
  font-family:Noto Sans KR;
  font-size:3rem;
  font-weight: 500;
  text-align:center;
}

div div.ant-ribbon-wrapper {
  height: 100%;
}

